<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Produits</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
<div class="bodyReq">
    <div class="bg-slider">
        <h1 class="logo" th:href="@{produits}">SupplyFlow</h1>
        <ul class="listSlider">
            <li class="active"><a th:href="@{../produits}">Produits</a></li>
            <li><a th:href="@{../fournisseur}">Fournisseur</a></li>
            <li><a th:href="@{../mouvementstock}">Mouvemen de Stock</a></li>
        </ul>
    </div>

    <div class="container">
        <h1>Produits</h1>
        <p>Gérez et suivez vos niveaux de stock de produits.</p>
        <button class="btnAddProduct"><a href="/produits/new">Ajouter un produit</a></button>

        <table>
            <thead>
            <tr>
                <th class="colStr">ID</th>
                <th>Nom du produit</th>
                <th>Catégorie</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th class="colFin">action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="produit : ${produits}">
                <td class="colStr" th:text="${produit.id}"></td>
                <td th:text="${produit.nom}"></td>
                <td th:text="${produit.categorie}"></td>
                <td th:text="${produit.prix}"></td>
                <td th:text="${produit.quantite}"></td>
                <td class="colFin">
                    <a th:href="@{/produits/edit/{id}(id=${produit.id})}"><img th:src="@{/css/images/compose.png}" width="20px"></a>
                    <a th:href="@{/produits/delete/{id}(id=${produit.id})}" ><img th:src="@{/css/images/delete.png}" width="20px"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>